<!DOCTYPE html>
<html>
<head>
	<title>{$_W['slwl']['lang']['sys_name']}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	{template 'public/header'}
	<link href="{MODULE_URL}template/public/js/harea/harea.css" rel="stylesheet">
	<script src="{MODULE_URL}template/public/js/harea/harea.min.js"></script>
	<script src="{MODULE_URL}template/public/js/harea/area-select-pc.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{template 'public/top'}
	{template 'public/left'}

	<div class="layui-body">
		<div class="layui-main">
			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li {if $operation=='display' } class="layui-this" {/if}>
						<a href="{php echo webUrl('',['do'=>'site/manage'])}">{$_W['slwl']['lang']['site_manage_title_tab']}</a>
					</li>
					<li {if empty($one['id']) && $operation == 'post'} class="layui-this" {/if}>
						<a href="{php echo webUrl('',['do'=>'site/manage','op'=>'post'])}">{$_W['slwl']['lang']['add']}</a>
					</li>
					{if $one['id'] && $operation == 'post'}
					<li class="layui-this">
						<a href="{php echo webUrl('',['do'=>'site/manage','op'=>'post','id'=>$one['id']])}">{$_W['slwl']['lang']['edit']}</a>
					</li>
					{/if}
				</ul>
			</div>

		{if $operation == 'display'}
			<div class="box-tools">
				<div class="box-search">
					<form action="{php echo webUrl('',['do'=>'site/manage'])}" method="post">
						<div class="layui-input-inline">
							<input type="text" name="keyword" value="{$keyword}" class="layui-input"
								placeholder="{$_W['slwl']['lang']['title']}">
						</div>
						<div class="layui-input-inline">
							<button class="layui-btn" lay-submit lay-filter="">{$_W['slwl']['lang']['search']}</button>
						</div>
					</form>
				</div>
			</div>
			<div class="layui-form">
				<table class="layui-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{$_W['slwl']['lang']['order']}</th>
							<th>{$_W['slwl']['lang']['title']}</th>
							<th>{$_W['slwl']['lang']['address']}</th>
							<th>{$_W['slwl']['lang']['recommand']}</th>
							<th>{$_W['slwl']['lang']['status']}</th>
							<th>{$_W['slwl']['lang']['operation']}</th>
						</tr>
					</thead>
					<tbody>
						{php $status_isrecommand = array('0'=>'','1'=>$_W['slwl']['lang']['recommand']); }
						{php $status_enabled = array('0'=>$_W['slwl']['lang']['disabled'],'1'=>$_W['slwl']['lang']['enabled']); }
						{loop $list $item}
						<tr>
							<td class="wmin20">{$item['id']}</td>
							<td class="wmin30">{$item['displayorder']}</td>
							<td class="td-content">{$item['title']}</td>
							<td>{$item['address']}</td>
							<td>{$status_isrecommand[$item['isrecommand']]}</td>
							<td class="wmin30">{$status_enabled[$item['enabled']]}</td>
							<td class="td-button">
								<a href="{php echo webUrl('',['do'=>'site/manage','op'=>'post','id'=>$item['id']])}"
									class="layui-btn"
									title="{$_W['slwl']['lang']['edit']}">{$_W['slwl']['lang']['edit']}</a>
								<a href="javascript:;" class="layui-btn layui-btn-danger btn-del" data-id="{$item['id']}"
									title="{$_W['slwl']['lang']['delete']}">{$_W['slwl']['lang']['delete']}</a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
				<div class="pager">
					{$pager}
				</div>
			</div>

			<script>
				layui.use(['laypage', 'layer'], function(){
					var laypage = layui.laypage;
					var layer = layui.layer;

					// 分页
					laypage.render({
						elem: $('.pager')
						,limit: '{php echo $psize; }'
						,count: '{php echo $total; }'
						,theme: '#1E9FFF'
						,curr:  '{php echo $pindex; }'
						,hash: '{php echo $pindex; }'
						,jump: function (obj, first) {
							if (first != true) {
								var currentPage = obj.curr; //获取点击的页码
								window.location.href = "{php echo webUrl('',['do'=>'site/manage'])}&page=" + currentPage;
							}
						}
					});
					$('.pager').show();

					// 删除
					$(document).on('click', '.btn-del', function () {
						$obj = $(this);
						$del_id = $obj.data('id');
						layer.confirm("{$_W['slwl']['lang']['tips_delete_ok']}", {
							offset: '20%',
							btn: ["{$_W['slwl']['lang']['tips_think_again']}", "{$_W['slwl']['lang']['delete']}"],
							scrollbar: false,
							closeBtn: 0,
						}, function (i) {
						   layer.close(i);
						}, function (i) {
							let $url = "{php echo webUrl('',['do'=>'site/manage','op'=>'delete'])}";

							$.ajax({
								type: "POST",
								url: $url,
								dataType: 'json',
								data: {
									id: $del_id
								},
								success: function (rs) {
									console.log(rs);
									if (rs.code == '0') {
										layer.msg('删除成功', {
											time: 500
										},
										function () {
											$obj.closest('tr').fadeOut(200, function () {
												$obj.remove();
											});
										});
									} else {
										layer.msg(rs.msg, {
											offset: '20%',
											shift: 6,
										});
										$obj.removeClass('lock');
									}
								},
								error: function () {
									layer.msg("{$_W['slwl']['lang']['tips_submit_error']}" , {
										offset: '20%',
										shift: 6,
									});
									$obj.removeClass('lock');
								}
							});
						});
					});

				});
			</script>


		{elseif $operation == 'post'}
			<form class="layui-form" action="" method="post" enctype="multipart/form-data">
				<input type="hidden" name="id" value="{$one['id']}" />
				<!-- 状态 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['status']}</label>
					<div class="layui-input-block">
						<input type="radio" name="enabled" value="1" title="{$_W['slwl']['lang']['enabled']}"
							{if $one['enabled']==1 || empty($one['id']) }checked{/if}>
						<input type="radio" name="enabled" value="0" title="{$_W['slwl']['lang']['disabled']}"
							{if $one['enabled']==0 && $one['id'] }checked{/if}>
					</div>
				</div>
				<!-- 排序 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['order']}</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" name="displayorder" value="{$one['displayorder']}"
							placeholder="{$_W['slwl']['lang']['order_placeholder']}">
					</div>
				</div>
				<!-- 小区名称 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['site_manage_name']}</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" name="title" lay-verify="required" value="{$one['title']}"
							placeholder="{$_W['slwl']['lang']['site_manage_name_placeholder']}">
					</div>
				</div>
				<!-- 小区地址 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['address']}</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" name="address" lay-verify="required" value="{$one['address']}"
							placeholder="{$_W['slwl']['lang']['address_placeholder']}">
					</div>
				</div>
				<!-- 地理位置 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['coordinate']}</label>
					<div class="layui-input-block">
						{php echo slwl_tpl_form_field_coordinate('map', $tmp_map)}
					</div>
				</div>
				<!-- 地区 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['site_manage_region']}</label>
					<div class="layui-input-block">
						<div class="controls">
							<input type="text" lay-verify="required" readonly="readonly" value="{$area}"
								class="layui-input readonly input-harea"
								placeholder="{$_W['slwl']['lang']['site_manage_region_placeholder']}">
							<input type="hidden" name="area[province]" maxlength="100" class="input-province">
							<input type="hidden" name="area[city]" maxlength="100" class="input-city">
							<input type="hidden" name="area[district]" maxlength="100" class="input-area">
						</div>
					</div>
				</div>
				<!-- <div class="layui-form-item">
					<label class="layui-form-label">图片</label>
					<div class="layui-input-block">
						{php echo slwl_tpl_form_field_image('thumb', $one['thumb']);}
						<div class="layui-form-mid layui-word-aux">图片大小为1:1正方形或2:1长方形</div>
					</div>
				</div> -->
				<!-- 属性 -->
				<div class="layui-form-item">
					<label class="layui-form-label">{$_W['slwl']['lang']['attribute']}</label>
					<div class="layui-input-block">
						<input type="checkbox" name="isrecommand" lay-skin="primary" value="1"
							title="{$_W['slwl']['lang']['recommand']}" {if $one['isrecommand']==1 }checked{/if}>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="manage">{$_W['slwl']['lang']['submit']}</button>
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</form>

			<div class="box-address-shadow"></div>
			<div class="box-address">
				<!-- 省 -->
				<div class="box-pr">
					<div class="addr-title">
						<div class="box-ctrl">
							<div class="btn-back"><a href="javascript:;" id="pr-close"></a></div>
							<div class="top-title"><a href="javascript:;"><span>{$_W['slwl']['lang']['region_province']}</span></a></div>
						</div>
					</div>
					<div class="addr-cont">
						<div class="box-path-list">
							<ul></ul>
						</div>
					</div>
				</div>
				<!-- 市 -->
				<div class="box-city">
					<div class="addr-title">
						<div class="box-ctrl">
							<div class="btn-back"><a href="javascript:;" id="city-close"></a></div>
							<div class="top-title"><a href="javascript:;"><span>{$_W['slwl']['lang']['region_city']}</span></a></div>
						</div>
					</div>
					<div class="addr-cont">
						<div class="box-path-list">
							<ul></ul>
						</div>
					</div>
				</div>
				<!-- 区 -->
				<div class="box-area">
					<div class="addr-title">
						<div class="box-ctrl">
							<div class="btn-back"><a href="javascript:;" id="area-close"></a></div>
							<div class="top-title"><a href="javascript:;"><span>{$_W['slwl']['lang']['region_district']}</span></a></div>
						</div>
					</div>
					<div class="addr-cont">
						<div class="box-path-list">
							<ul></ul>
						</div>
					</div>
				</div>
				<div class="box-tmp-ul-panel">
					<ul class="pr"></ul>
					<ul class="city"></ul>
					<ul class="area"></ul>
				</div>
			</div>

			<script>
				layui.use('form', function(){
					var form = layui.form;

					form.on('submit(manage)', function(data){
						let url = "{php echo webUrl('',['do'=>'site/manage','op'=>'post'])}";
						var $obj = $(this);

						if (!$obj.hasClass('lock')) {
							$obj.addClass('lock'); // 不能再点击

							$.ajax({
								type: "POST",
								url: url,
								dataType: 'json',
								data: data.field,
								success: function (rs) {
									console.log(rs.code);
									if (rs.code == '0') {
										layer.msg("{$_W['slwl']['lang']['tips_success']}" , {
											time: 500
										}, function () {
											window.location.href = "{php echo webUrl('',['do'=>'site/manage'])}";
										});
									} else {
										layer.msg(rs.msg, {
											offset: '20%',
											shift: 6,
										});
									}
									$obj.removeClass('lock');
								},
								error: function () {
									layer.msg("{$_W['slwl']['lang']['tips_submit_error']}" , {
										offset: '20%',
										shift: 6,
									});
									$obj.removeClass('lock');
								}
							});
						}
						return false;
					});
				});
			</script>


		{/if}
		</div>
	</div>

	{template 'public/copyright'}
</div>

{template 'public/footer'}
</body>
</html>
