<!DOCTYPE html>
<html>

<head>
    <title>{$_W['slwl']['lang']['sys_name']}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    {template 'public/header'}

</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {template 'public/top'}
        {template 'public/left'}

        <div class="layui-body">
            <div class="layui-main">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li {if $operation=='display' } class="layui-this" {/if}> <a
                            href="{php echo webUrl('form',array('op' =>'display'))}">咨询信息列表</a>
                        </li>

                        {if $one['id'] && $operation == 'post'}
                        <li class="layui-this">
                            <a
                                href="{php echo webUrl('form',array('op' =>'post','id'=>$one['id']))}">{$_W['slwl']['lang']['edit']}</a>
                        </li>
                        {/if}
                        {if $operation == 'set'}
                        <li class="layui-this">
                            <a href="{php echo webUrl('form',array('op' =>'set','id'=>$one['id']))}">编辑信息</a>
                        </li>
                        {/if}
                    </ul>
                </div>

                {if $operation == 'display'}
                <div class="box-tools">
                    <div class="box-search">
                        <form action="{php echo webUrl('form', array('op'=>'display', 'case_id'=>$id))}" method="post">
                            <!--  <select lay-filter="case_name" id="view_case_name_select">
                            <option value="" {if $id==''}selected{/if}>全部</option>
                            {loop $case_arr $item}
                                <option value="{$item['id']}" {if $id==$item['id']}selected{/if}>{$item['name']}</option>
                            {/loop}
                        </select> -->
                            <div class="layui-input-inline">
                                <input type="text" name="keyword" value="{$keyword}" class="layui-input"
                                    placeholder="请输入表单信息关键字" />
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit
                                    lay-filter="">{$_W['slwl']['lang']['search']}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>表单名</th>
                                <th>提交信息</th>
                                <th>备注</th>
                                <th>是否处理</th>
                                <th>提交时间</th>
                                <th>处理更新时间</th>
                                <th>{$_W['slwl']['lang']['operation']}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {php $this_statuses = array('0'=>$_W['slwl']['lang']['unprocessed'],'1'=>$_W['slwl']['lang']['processed']); }
                            {loop $list $form}
                            <tr>
                                <td class="wmin20">{$form['id']}</td>
                                <td>{$form['case_name']}</td>
                                <td class="td-content">{$form['options']}</td>
                                <td>{$form['mark']}</td>
                                <td>{if $form['enabled'] == 1}是{else}否{/if}</td>
                                <td>{$form['addtime']}</td>
                                <td>{$form['uptime']}</td>
                                <td class="td-button">
                                    <a href="{php echo webUrl('form', array('op' => 'set', 'id' => $form['id']))}"
                                        class="layui-btn"
                                        title="{$_W['slwl']['lang']['edit']}">{$_W['slwl']['lang']['edit']}</a>
                                    <a href="javascript:;" class="layui-btn layui-btn-danger btn-del"
                                        data-id="{$form['id']}"
                                        title="{$_W['slwl']['lang']['delete']}">{$_W['slwl']['lang']['delete']}</a>
                                </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                    <div class="pager">
                        {$pager}
                    </div>
                </div>

                <script>
                    // layui.use('form', function () {
                    //     var form = layui.form;
                    //     form.on('select(case_name)', function (data) {
                    //         window.location.href = "{php echo webUrl('form', array('op'=>'display'))}&case_id=" + data.value;
                    //     })
                    // });

                    layui.use(['layer', 'laypage'], function () {
                        var layer = layui.layer;
                        var laypage = layui.laypage;

                        // 分页
                        laypage.render({
                            elem: $('.pager')
                            , limit: '{php echo $psize; }'
                            , count: '{php echo $total; }'
                            , theme: '#1E9FFF'
                            , curr: '{php echo $pindex; }'
                            , hash: '{php echo $pindex; }'
                            , jump: function (obj, first) {
                                if (first != true) {
                                    var currentPage = obj.curr; //获取点击的页码
                                    window.location.href = "{php echo webUrl('form', array('op'=>'display', 'case_id'=>$id))}&page=" + currentPage;
                                }
                            }
                        });
                        $('.pager').show();

                        // 删除
                        $(document).on('click', '.btn-del', function () {
                            $obj = $(this);
                            $del_id = $obj.data('id');
                            layer.confirm("{$_W['slwl']['lang']['tips_delete_ok']}", {
                                offset: '20%',
                                btn: ["{$_W['slwl']['lang']['tips_think_again']}", "{$_W['slwl']['lang']['delete']}"],
                                scrollbar: false,
                                closeBtn: 0,
                            }, function (i) {
                                layer.close(i);
                            }, function (i) {
                                let $url = "{php echo webUrl('form', array('op'=>'delete'))}";

                                $.ajax({
                                    type: "POST",
                                    url: $url,
                                    dataType: 'json',
                                    data: {
                                        id: $del_id
                                    },
                                    success: function (rs) {
                                        console.log(rs);
                                        if (rs.message.errno == '0') {
                                            layer.msg('删除成功', {
                                                time: 500
                                            },
                                                function () {
                                                    $obj.closest('tr').fadeOut(200, function () {
                                                        $obj.remove();
                                                    });
                                                });
                                        } else {
                                            layer.msg(rs.message.message, {
                                                offset: '20%',
                                                shift: 6,
                                            });
                                            $obj.removeClass('lock');
                                        }
                                    },
                                    error: function () {
                                        layer.msg("{$_W['slwl']['lang']['tips_submit_error']}", {
                                            offset: '20%',
                                            shift: 6,
                                        });
                                        $obj.removeClass('lock');
                                    }
                                });
                            });
                        });
                    });                   
                </script>
                {else if $operation == 'set'}
                <form class="layui-form" action="" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$one['id']}" />
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否处理</label>
                        <div class="layui-input-block">
                            <input type="radio" name="enabled" value="1" title="已处理" {if $one['enabled']==1}checked{/if} /> 
                            <input type="radio" name="enabled" value="0" title="未处理" {if $one['enabled']==0}checked{/if} /> 
                        </div> 
                    </div> 
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea" name="mark" placeholder="填入备注">{$one['mark']}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="set">{$_W['slwl']['lang']['submit']}</button>
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </div>
                    </div>
                </form>

                <script>
                    layui.use('form', function () {
                        var form = layui.form;

                        form.on('submit(set)', function (data) {
                            let url = "{php echo webUrl('form', array('op'=>'setsave', 'id'=>$id))}";
                            var $obj = $(this);

                            if (!$obj.hasClass('lock')) {
                                $obj.addClass('lock'); // 不能再点击

                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    dataType: 'json',
                                    data: data.field,
                                    success: function (rs) {
                                        console.log(rs.message.errno);
                                        if (rs.message.errno == '0') {
                                            layer.msg("{$_W['slwl']['lang']['tips_success']}", {
                                                time: 500
                                            }, function () {
                                                window.location.href = "{php echo webUrl('form')}";
                                            });
                                        } else {
                                            layer.msg(rs.message.message, {
                                                offset: '20%',
                                                shift: 6,
                                            });
                                        }
                                        $obj.removeClass('lock');
                                    },
                                    error: function () {
                                        layer.msg("{$_W['slwl']['lang']['tips_submit_error']}", {
                                            offset: '20%',
                                            shift: 6,
                                        });
                                        $obj.removeClass('lock');
                                    }
                                });
                            }

                            return false;
                        });
                    });
                </script>
                {else if $operation == 'post'}
                <form class="layui-form" action="" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$one['id']}" />
                    <!-- 状态 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$_W['slwl']['lang']['status']}</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="{$_W['slwl']['lang']['enabled']}" {if $one['status']==1 || empty($one['id']) }checked{/if}>
                            <input type="radio" name="status" value="0" title="{$_W['slwl']['lang']['disabled']}" {if $one['status']==0 && $one['id'] }checked{/if} /> 
                        </div>
                    </div> <!-- 用户名 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$_W['slwl']['lang']['name']}</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="{$one['name']}" class="layui-input" />
                        </div>
                    </div>
                    <!-- 联系方式 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$_W['slwl']['lang']['contact_way']}</label>
                        <div class="layui-input-block">
                            <input type="text" name="contact" value="{$one['contact']}" class="layui-input" />
                        </div>
                    </div>
                    <!-- 内容 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$_W['slwl']['lang']['content']}</label>
                        <div class="layui-input-block">
                            <textarea name="msg" placeholder="{$_W['slwl']['lang']['content']}" class="layui-textarea">{$one['msg']}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="form">{$_W['slwl']['lang']['submit']}</button>
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </div>
                    </div>
                </form>

                <script>
                    layui.use('form', function () {
                        var form = layui.form;

                        form.on('submit(form)', function (data) {
                            let url = "{php echo webUrl('form', array('op'=>'post'))}";
                            var $obj = $(this);

                            if (!$obj.hasClass('lock')) {
                                $obj.addClass('lock'); // 不能再点击

                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    dataType: 'json',
                                    data: data.field,
                                    success: function (rs) {
                                        console.log(rs.message.errno);
                                        if (rs.message.errno == '0') {
                                            layer.msg("{$_W['slwl']['lang']['tips_success']}", {
                                                time: 500
                                            }, function () {
                                                window.location.href = "{php echo webUrl('form')}";
                                            });
                                        } else {
                                            layer.msg(rs.message.message, {
                                                offset: '20%',
                                                shift: 6,
                                            });
                                        }
                                        $obj.removeClass('lock');
                                    },
                                    error: function () {
                                        layer.msg("{$_W['slwl']['lang']['tips_submit_error']}", {
                                            offset: '20%',
                                            shift: 6,
                                        });
                                        $obj.removeClass('lock');
                                    }
                                });
                            }
                            return false;
                        });
                    });
                </script>
                {/if}
            </div>
        </div>

        {template 'public/copyright'}
    </div>

    {template 'public/footer'}
</body>

</html>